@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body{
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #000;
  padding: 10px;
  z-index: 999;

}

.nav-discussion-link:hover{
  /* border-radius: 7%; */
  transition: 0.25s ease-in-out;
  box-shadow:  0 0 5px 5px rgba(255, 255, 255, 0.8);
}

h1{
  font-weight: 900;
  font-size: 3rem;
}

a:any-link, ul{
  text-decoration: none;
  list-style-type: none;
  padding: 6px;

}

nav a{ 
  font-weight: bold;
  margin-right: 8px;
}
a, span{
  color: #FF1A1A;
}

nav{
  height: 10vh;
}

.hero{
  height: 90vh;
  margin-top: 90px;
}

.App{
  /* height: 100vh;  */
  /* overflow: hidden; */
}

.logo{
  width: 160px;
}
/* 
.slideshow{
  display: flex;
  justify-content: center;
  gap: 6px;
}

.movie-card img{
  width: 150px;
} */

.movie-card img {
  width: 150px;
  border: solid 2px #FFF;
  border-radius: 7%;
}

.movie-card{

}

.slideshow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 400px;
  scroll-padding: 0 20px; /* add padding to the scroll container */

}

.movie-card {
  flex: 0 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
   justify-content: center;
  align-items: center;
  text-align: center; 
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  margin-right: 20px;
}

.movie-card.active {
  opacity: 1;
}

footer {
  background-color: #222;
  padding: 20px;
  color: #333;
  font-size: 14px;
  text-align: center;
  width: 100vw;
  /* position: fixed;
  bottom: 0;
  z-index: 9999; Add this line */
}






/* /----------------DISCUSSION / POSTS CSS--------------------/ */

.card {
  display: flex;
  align-items: center;
  background-color: #222;
  border: 2px solid #e1e1e1;
  flex-direction: column;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
  width: 40vw;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  /* border: 1px solid #e1e1e1; */
  /* flex-direction: column; */
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
  width: 40vw;
}

.left{ 
  display: flex;
  gap: 8px;
}

.selected{
  color: #FF1A1A;
}


.card__image {
  width: 80px;
  height: 80px;
  margin-right: 16px;
  border-radius: 5px;
}

.card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #e1e1e1;
}

.card__meta {
  font-size: 14px;
  color: #888888;
  margin-bottom: 8px;
}

.card__description {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
}


.post-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.discussion-btn{
  width: 5vw;
  height: 5vh;
}


.discussion-btn active{
  width: 10vw;
  height: 5vh;
}

.likes-container{
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

.card:hover{
  border: solid 2px #FF1A1A;
  transition: 0.3s ease;
}



.red{
  color: #FF1A1A;
  font-size: larger;
}


/* .spoiler-tag {
 
  background-color: #000;
  color: #FF1A1A;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.8rem;
  margin-right: 10px;
} */

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.spoiler-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: black;
  color: red;
  border-radius: 20px;
}





/* //===========================FORM===========================// */


form{
  height: 90vh;
}

/* .label-container{
  display: flex;
  flex-direction: column;
} */




p{
  color:  #e1e1e1;
}

button:hover{
  color: #FF1A1A;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.label-container input[type="text"],
.label-container input[type="radio"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.label-container input[type="text"]:focus,
.label-container input[type="radio"]:focus {
  border-color: #FF1A1A;
}

.label-container input[type="radio"] + label {
  /* margin-left: 10px; */
}

/* //===========================textbox===========================// */



.textbox-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

div#raving.quill{
  width: 60vw;
}





div.ql-blank, div.ql-editor{
  height: 40vh;
  width: 50vw;
 
}


/* //======================POST PAGE==========================// */

.post-card {
  background-color: #222;
  border: 1px solid #FF1A1A;
  color: #000;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.post-card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FF1A1A;
}

.post-card__author {
  font-style: italic;
  margin-bottom: 5px;
}

.post-card__content {
  line-height: 1.5;
}

.post-card__comment {
  margin-top: 20px;
}

.post-card__comment .comment__author {
  font-style: italic;
  margin-bottom: 5px;
}

.post-card__comment .comment__content {
  margin-left: 20px;
  line-height: 1.5;
}




/* //COMMENTS=========== */

.comment-form{ 


  background-color: #222;
  border: 1px solid #FF1A1A;
  color: #000;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  height: fit-content;
width: fit-content;

border: solid 1px white;
}

h4{
  color: #FF1A1A;
}
/* 
div#comment.quill{
  height: 40vh;
  width: 70vw;
} */

.comment-form{
  display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.comment-form.div.ql-container.ql-snow{
  border: none;
}

.comments-and-comment-form-container{
  display: flex;
}

.comment {
  background-color: #222;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.comment p:first-child {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.comment p:last-child {
  font-size: 0.8em;
  font-style: italic;
}

.comment-container{
  display: flex;
  flex-direction: column;
}

input#username.input-change, input#title.input-change, input#raving.input-change{
  padding: 0;
}


.loading-animation{
  height: 90vh;
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #FF1A1A;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* //-------RESPONSIVE------// */

/* For screens smaller than 768px (e.g. mobile) */
@media (max-width: 767px) {
  /* Your styles here */
  h1{

    font-size: 1.2rem;
  }

  .hero{
    height: 65vh;
  }

  footer{
display: none;  }

  .logo{
    width: 130px;
  }

  .move-card img{
    width: 50px;
  }

  .filter-container{
    width: 100vw;
  }


  .filter-container button{
    width: 15vw;
  }

  nav{
    width: 100vw;
  }
}



/* For screens larger than 768px (e.g. desktop) */
@media (min-width: 768px) {
  /* Your styles here */
}

/* For screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 991px) {
  /* Your styles here */
}

/* For screens between 992px and 1200px */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Your styles here */
}

/* For screens larger than 1200px */
@media (min-width: 1200px) {
  /* Your styles here */
}



